.sprite {
    background-image: url(../images/spritesheets/clients.png);
    background-repeat: no-repeat;
    display: block;
    cursor: pointer;
}

.sprite-agricola_black {
    width: 314px;
    height: 127px;
    background-position: -5px -5px;
}

.sprite-agricola_white {
    width: 314px;
    height: 127px;
    background-position: -329px -5px;
}

.sprite-aninat_black {
    width: 262px;
    height: 98px;
    background-position: -653px -5px;
}

.sprite-aninat_white {
    width: 262px;
    height: 98px;
    background-position: -653px -113px;
}

.sprite-bayona_black {
    width: 258px;
    height: 100px;
    background-position: -5px -221px;
}

.sprite-bayona_white {
    width: 258px;
    height: 100px;
    background-position: -273px -221px;
}

.sprite-concha_black {
    width: 240px;
    height: 54px;
    background-position: -541px -221px;
}

.sprite-concha_white {
    width: 240px;
    height: 54px;
    background-position: -791px -221px;
}

.sprite-ebco_black {
    width: 240px;
    height: 178px;
    background-position: -541px -285px;
}

.sprite-ebco_white {
    width: 240px;
    height: 178px;
    background-position: -791px -285px;
}

.sprite-fepasa_black {
    width: 246px;
    height: 81px;
    background-position: -5px -473px;
}

.sprite-fepasa_white {
    width: 246px;
    height: 81px;
    background-position: -261px -473px;
}

.sprite-grupo_black {
    width: 258px;
    height: 224px;
    background-position: -517px -473px;
}

.sprite-grupo_white {
    width: 258px;
    height: 224px;
    background-position: -785px -473px;
}

.sprite-inchalam_black {
    width: 254px;
    height: 82px;
    background-position: -5px -707px;
}

.sprite-inchalam_white {
    width: 254px;
    height: 82px;
    background-position: -269px -707px;
}

.sprite-johnson_black {
    width: 302px;
    height: 176px;
    background-position: -533px -707px;
}

.sprite-johnson_white {
    width: 302px;
    height: 176px;
    background-position: -5px -893px;
}

.sprite-ministerio_black {
    width: 242px;
    height: 222px;
    background-position: -1041px -5px;
}

.sprite-ministerio_white {
    width: 242px;
    height: 222px;
    background-position: -1041px -237px;
}

.sprite-modinguer_black {
    width: 314px;
    height: 58px;
    background-position: -845px -707px;
}

.sprite-modinguer_white {
    width: 314px;
    height: 58px;
    background-position: -845px -775px;
}

.sprite-oxy_black {
    width: 226px;
    height: 242px;
    background-position: -845px -843px;
}

.sprite-oxy_white {
    width: 226px;
    height: 242px;
    background-position: -1081px -843px;
}

.sprite-santista_black {
    width: 274px;
    height: 100px;
    background-position: -1053px -469px;
}

.sprite-santista_white {
    width: 274px;
    height: 100px;
    background-position: -5px -579px;
}

.sprite-shell_black {
    width: 188px;
    height: 245px;
    background-position: -1293px -5px;
}

.sprite-shell_white {
    width: 188px;
    height: 245px;
    background-position: -1337px -260px;
}

.sprite-valko_black {
    width: 280px;
    height: 99px;
    background-position: -1053px -579px;
}

.sprite-valko_white {
    width: 280px;
    height: 99px;
    background-position: -1169px -688px;
}
